################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/components/knx_rf/_oldknx_rf.h
/ESP32_KNX_RF_UPONOR_EXAMPLE.yaml
